:root {
  --color-primary: #1677ff;
  --color-primary-hover: #4096ff;
  --color-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  --color-border: #ccc;
  --color-error: #e53e3e;
  --color-title: #333;
  --color-label: #555;
  --color-bg: #fff;
  --color-bg-page: #f0f2f5;
  --color-link: #1677ff;
  --color-link-hover: #4096ff;
  --color-placeholder: #6B7280;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-bg-page);
}

.auth-form {
  padding: 40px;
  background: var(--color-bg);
  border-radius: 8px;
  box-shadow: var(--color-shadow);
  width: 100%;
  max-width: 400px;
  text-align: center;

  h2 {
    margin-bottom: 24px;
    font-size: 24px;
    color: var(--color-title);
  }

  .form-group {
    margin-bottom: 20px;
    text-align: left;

    label {
      display: block;
      margin-bottom: 8px;
      font-weight: 600;
      color: var(--color-label);
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid var(--color-border);
      border-radius: 4px;
      box-sizing: border-box;
    }

    .error {
      color: var(--color-error);
      font-size: 12px;
      margin-top: 4px;
    }
  }

  button {
    width: 100%;
    padding: 12px;
    background-color: var(--color-primary);
    color: var(--color-bg);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--color-primary-hover);
    }
  }

  p {
    margin-top: 16px;
    font-size: 14px;
    color: var(--color-label);

    a {
      color: var(--color-link);
      text-decoration: none;

      &:hover {
        color: var(--color-link-hover);
        text-decoration: underline;
      }
    }
  }
}

/* Custom styles for react-phone-input-2 */
.react-tel-input .form-control {
  // @apply py-5 pe-5 border-border text-sm rounded-lg bg-background-light;
  padding-left: 20px !important;
  font-weight: 500 !important;
  width: 100% !important;
  padding-block: 1.1rem !important;
  font-size: 0.875rem !important;
  border-radius: 0.5rem !important;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1)) !important;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1)) !important;
}

.react-tel-input .flag-dropdown {
  // @apply border-border rounded-r-lg bg-background-light;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1)) !important;
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1)) !important
}

.react-tel-input .selected-flag .arrow {
  // @apply left-4;
  right: 1.5rem !important;
}

.react-tel-input .selected-flag {
  // @apply py-4;
  padding-block: 1rem !important;
  padding: 0 !important;
  width: 50px !important;
  // border-radius: 3px 0 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onboarding-steps {
  .ant-steps-item-icon {
    width: 32px !important;
    height: 32px !important;
    line-height: 30px !important;
    border-radius: 50% !important;
    font-size: 14px !important;
    font-weight: bold !important;
    background-color: var(--color-bg) !important;
    border: 2px solid #E5E7EB !important;
    
    .ant-steps-icon {
      color: var(--color-placeholder) !important;
    }
  }

  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
    background-color: #4338CA !important;
    border-color: #4338CA !important;
    .ant-steps-icon {
      color: var(--color-bg) !important;
    }
  }

  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-icon {
    background-color: var(--color-bg) !important;
    border-color: #4338CA !important;
    .ant-steps-icon {
      color: #4338CA !important;
    }
  }
  
  .ant-steps-item-title {
    color: var(--color-placeholder) !important;
    font-weight: bold;
    font-size: 16px;
    padding-right: 20px !important;
  }

  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title,
  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: #111827 !important;
  }

  .ant-steps-vertical .ant-steps-item-connector {
    right: 16px !important;
    top: 0 !important;
    height: 100%;
    margin-right: 0 !important;
    
    .ant-steps-item-connector-inner {
        border-left: 2px solid #E5E7EB !important;
    }
  }
  
  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after,
  .ant-steps-item-finish > .ant-steps-item-tail::after {
    background-color: #4338CA !important;
  }
} 